/*
/////////////////
////COMPONENTS//
///////////////
*/

	.sma-com.com-newsletter {
	}
		.sma-com.com-newsletter .com-title {
			font-family: 'Playfair Display', serif;
			text-transform: none;
			letter-spacing: 0;
			font-size: 2.4em;
			color: #D5A368;
			display: block;
		}
		.sma-com.com-newsletter .com-content {
			margin-top: 0;
			position: relative;
		}
		.sma-com.com-newsletter .sma-but.but-conversion {
			position: absolute;
			right: 0.2rem;
			bottom: 0.2rem;
			margin: 0.4rem;
			font-size: 1.25em;
			height: 4.4rem;
		}

	.sma-com.com-banner {
		position: relative;
	}
		.sma-com.com-banner .com-navigation {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
			width: 8rem;
			height: 100%;
			text-align: center;
			border-top: 1px solid #ddd;
			text-transform: uppercase;
			display: flex;
		}
			.sma-com.com-banner .com-navigation .navigation-wrapper {
				margin: auto;
			}
			.sma-com.com-banner .com-navigation .navigation-item {
				display: inline-block;
			}
			.sma-com.com-banner .com-navigation .navigation-item.item-more {
				white-space: nowrap;
				height: 320px;
			}
				.sma-com.com-banner .com-navigation .navigation-item.item-more a {
					transform: rotate(-90deg);
					transform-origin: bottom right;
					display: block;
					line-height: 8rem;
				}
		.sma-com.com-banner .com-wrapper {
			position: absolute;
			top: 0;
			left: 8rem;
			width: 100%;
			height: 100%;
			display: inline-flex;
			justify-content: left;
			align-items: flex-end;
		}