/*
////////////////
////SECTUIONS//
//////////////
*/

	.sma-sec {
	}
		.sma-sec .sma-wrapper {
			padding: 0;
			max-width: none;
			display: inline-flex;
			justify-content: left;
			align-items: center;
		}
		.sma-sec .sec-media, 
		.sma-sec .sec-header {
			vertical-align: middle;
			margin: 0;
			min-width: 50%;
			direction: ltr;
		}
		.sma-sec .sec-media {
				align-self: stretch;
		}
			.sma-sec .sec-media img {
				display: block;
				object-fit: cover;
				min-height: 100%;
				min-width: 100%;
			}
		.sma-sec[data-sec-size='l'] {
			position: relative;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
			.sma-sec[data-sec-size='l'] .sma-wrapper {
				min-height: 67vh;
				position: static;
			}
			.sma-sec[data-sec-size='l'] .sec-header {
				position: relative;
			}
			.sma-sec[data-sec-size='l'] .sec-media {
				left: 0;
				top: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
			}
				.sma-sec[data-sec-size='l'] .sec-media img {
					display: block;
					object-fit: cover;
					min-height: 100%;
					min-width: 100%;
				}
		.sma-sec .sec-header {
			padding: 6.22% 8.33%;
			text-align: left;
		}
		.sma-sec .sec-category {
			text-transform: uppercase;
		}
		.sma-sec .sec-title {
			margin-top: 0;
			text-transform: none;
			font-family: 'Playfair Display', serif;
			font-size: 8em;
		}
	.sma-sec:nth-child(odd) {
		direction: rtl;
	}
	.sma-sec#our-story {
	}
		.sma-sec#our-story .sma-wrapper {
			display: inline-block;
			text-align: center;
		}
		.sma-sec#our-story .sec-header {
			text-align: center;
		}
		.sma-sec#our-story .sec-content {
			padding-top: 4.8rem;
			padding-bottom: 4.8rem;
			margin-bottom: 4.8rem;
			margin-top: -4.8rem;
		}
		.sma-sec#our-story .sec-item {
			text-align: left;
		}
			.sma-sec#our-story .sec-item {
				text-align: left;
				overflow: hidden;
			}
@media all and (min-width: 960px) {
			.sma-sec#our-story .sec-item:nth-child(odd) {
				margin-top: -4.8rem;
			}
}
			.sma-sec#our-story .sec-item .item-media {
				margin-bottom: -9.6rem;
			}
			.sma-sec#our-story .sec-item .item-header {
				padding: 3.6rem;
				margin-left: 3.6rem;
				background-color: #fff;
			}
				.sma-sec#our-story .sec-item .item-category {
					margin-top: 0.8rem;
				}
				.sma-sec#our-story .sec-item .item-title {
					margin-top: 0.8rem;
					font-size: 4.8em;
					font-family: 'Playfair Display', serif;
					line-height: 120%;
					letter-spacing: 0;
					color: #000;
				}
	.sma-sec#stores {
	}
		.sma-sec#stores .sma-wrapper {
			justify-content: center;
		}
		.sma-sec#stores .sec-header {
			text-align: center;
		}
		.sma-sec#stores.sma-the.the-contrast {
			background-color: #000;
		}
		.sma-sec#stores .sec-media {
			opacity: 0.34;
		}