/*
/////////////
////THEMES//
///////////
*/

	.sma-the.the-contrast {
		background-color: #333333;
	}
		.sma-the.the-contrast a, 
		.sma-the.the-contrast a:hover, 
		.sma-the.the-contrast a:focus {
			color: #ffffff;
		}
		.sma-the.the-contrast p, 
		.sma-the.the-contrast li,
		.sma-the.the-contrast label {
			color: #ffffff;
		}

	/*//////////
	//BUTTONS//
	////////*/

		.sma-the.the-contrast .sma-but {
			background-color: #ffffff;
			border: 0.2em #ffffff solid;
			color: #333333;
		}
		.sma-the.the-contrast .sma-but:hover, 
		.sma-the.the-contrast .sma-but:focus, 
		.sma-the.the-contrast a:hover .sma-but, 
		.sma-the.the-contrast a:focus .sma-but {
			background-color: #D5A368;
			border-color: #D5A368;
		}