/*
/////////////
////THEMES//
///////////
*/

	.sma-the.the-contrast {
		background-color: #333333;
	}

		.sma-the.the-contrast a, 
		.sma-the.the-contrast a:hover, 
		.sma-the.the-contrast a:focus {
			color: #fff;
		}
		.sma-the.the-contrast h1, 
		.sma-the.the-contrast h2,
		.sma-the.the-contrast h3,
		.sma-the.the-contrast h4,
		.sma-the.the-contrast h5,
		.sma-the.the-contrast h6 {
			color: #fff;
		}
		.sma-the.the-contrast p, 
		.sma-the.the-contrast li,
		.sma-the.the-contrast label,
		.sma-the.the-contrast input {
			color: #fff;
		}

		.sma-the.the-contrast .sma-but {
			background-color: #D5A368;
			border: 0.1em #D5A368 solid;
			color: #333;
		}
		.sma-the.the-contrast .sma-but:hover, 
		.sma-the.the-contrast .sma-but:focus, 
		.sma-the.the-contrast a:hover .sma-but, 
		.sma-the.the-contrast a:focus .sma-but {
			background-color: #fff;
			border-color: #fff;
			color: #333;
		}

		.sma-the.the-contrast .sma-for .for-item .item-element:hover, 
		.sma-the.the-contrast .sma-for .for-item .item-element:focus {
			border-color: #fff;
		}

	.sma-the.the-highlight {
		background-color: #FAFAFA;
	}
		.sma-the.the-highlight h1, 
		.sma-the.the-highlight h2,
		.sma-the.the-highlight h3,
		.sma-the.the-highlight h4,
		.sma-the.the-highlight h5,
		.sma-the.the-highlight h6 {
			color: #000;
		}
		.sma-the.the-highlight p, 
		.sma-the.the-highlight li,
		.sma-the.the-highlight label {
			color: #000;
		}