/*
////////////////
////STRUCTURE//
//////////////
*/

	#sma {
		text-align: center;
	}
	hr {
		display: none;
	}
	.sma-wrapper {
		padding: 1.5% 0;
		max-width: 1600px;
		text-align: left;
		position: relative;
	}
	.sma-navigation .navigation-item {
		text-transform: uppercase;
		display: inline-block;
		margin-right: 1.6em;
		font-size: 1.4em;
	}
	#sma-header .sma-wrapper {
		text-align: center;
	}
	#sma-search {
		display: none;
	}
	#sma-logo img {
		width: 320px;
	}
	#sma-logo h1 {
		margin-top: 0;
	}
	#sma-shortcuts {
		position: absolute;
		right: 0;
		top: 0;
	}
	#sma-shortcuts {
		text-align: right;
		position: absolute;
		right: 0;
		top: 0;
		padding-left: 12rem;
		padding-right: 12rem;
	}
		#sma-shortcuts .item-find {
			position: absolute;
			top: 0;
			left: 0;
		}
		#sma-shortcuts .item-search {
			position: absolute;
			top: 0;
			right: 0;
		}
	#sma-footer .footer-navigation .navigation-list.list-secondary {
		text-align: right;
	}
	#sma-footer .footer-navigation .navigation-list.list-tertiary {
		text-align: center;
	}
	#sma-footer .footer-logo {
		text-align: right;
	}