/*
//////////////
////BUTTONS//
////////////
*/

	.sma-but {
		display: inline-block;
		padding: 0.8em;
		margin-top: 1.6em;
		font-size: 1.6em;
		line-height: 150%;
		font-family: sans-serif;
		text-decoration: none;
		color: white;
		background-color: #000000;
		border: 0.2em #000000 solid;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
	.sma-but:hover, 
	.sma-but:focus, 
	a:hover .sma-but, 
	a:focus .sma-but {
		background-color: #D5A368;
		border-color: #D5A368;
		text-decoration: none;
		color: white;
	}
	.sma-but[disabled] {
		background-color: gray;
		border-color: gray;
	}
	.sma-but + .sma-but {
		margin-left: 1.6em;
	}
	span .sma-but, 
	li .sma-but {
		font-size: 1em;
		margin-top: 0;
	}