/*
//////////////
////BUTTONS//
////////////
*/

	li .sma-but,  
	span .sma-but,  
	.sma-but span {
		font-size: 1em;
		margin-top: 0;
	}
	.sma-but * {
		color: inherit;
	}
	.sma-but {
		font-family: 'Raleway', sans-serif;
		display: inline-block;
		padding: 0.8rem 1.6rem;
		margin-top: 1.6em;
		font-size: 1.6em;
		line-height: 150%;
		text-decoration: none;
		color: white;
		background-color: #000;
		border: 0.1em #000 solid;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}
	.sma-but:hover, 
	.sma-but:focus, 
	a:hover .sma-but, 
	a:focus .sma-but {
		background-color: #D5A368;
		border-color: #D5A368;
		color: white;
		text-decoration: none;
	}
	.sma-but[disabled] {
		background-color: gray;
		border-color: gray;
	}
	.sma-but + .sma-but {
		margin-left: 1.6em;
	}

	.sma-but.but-secondary {
		border-radius: 6em;
		padding-right: 1.2em;
		padding-left: 1.2em;
		text-transform: none;
		border-color: #DDD;
		background-color: transparent;
		color: #000;
		font-size: 1.3em;
	}
	.sma-but.but-secondary:hover, 
	.sma-but.but-secondary:focus, 
	a:hover .sma-but.but-secondary, 
	a:focus .sma-but.but-secondary {
		background-color: transparent;
		border-color: #D5A368;
		color: #000;
	}
		.sma-but.but-secondary.sma-ico:before {
			color: #D5A368;
		}