/*
//////////////
////INSPECT//
////////////
*/

	*, *:before, *:after {
		box-shadow: inset 0 0 0 1px #fff;
		background-color: rgba(255, 255, 212, 0.61);
	}
	article, aside, div, footer, header, hgroup, nav, section {
		box-shadow: inset 0 0 0 1px #fff;
		background-color: rgba(255, 233, 233, 0.16);
	}
